@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-danger mb-1 p-2 text-white">Acesso Negado</h1>
<a asp-controller="Tales" asp-action="Index" class="btn btn-primary">OK</a>

