@model DateTime
@using System.Globalization

@{
    var dateFormat = new DateTimeFormatInfo();
}

@if (Model.Date == DateTime.Today)
{
    <span>Hoje às @Model.ToShortTimeString()</span>
}
else
{
    <span>@Model.ToString($"dd {dateFormat.GetAbbreviatedMonthName(Model.Month)} yyyy")</span>
}