.container {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.right-nav {
    justify-content: flex-end;
    padding-right: 10%;
}

.left-nav {
    padding-left: 10%;
}

.nav-item {
    margin: 0 0.35rem;
}

.container-custom-out-spac {
    margin-top: 8rem;
}

.page-title {
    margin-bottom: 5rem;
}

.inline-display {
    display: inline-block;
}