@model TalesViewModel

@{
    ViewData["Title"] = "Contos";
}

<div class="center-view">
    <div>
        <h1 class="text-center">@ViewData["Title"]</h1>
    </div>
    @if (Model.User.Role == blog_rpg.Models.Enums.UserRole.Author || 1 == 1)
    {
        <div class="container-custom-out-spac flex-display justify-content-center">
            <a asp-route="talecreation" class="btn btn-primary">Adicionar novo conto</a>
        </div>
    }
    <div class="tales-ext-container tales-border">
        <div class="tales-int-container tales-border text-center">
            @if (!Model.Tales.Any())
            {
                <p>Estranho... não há nada aqui!</p>
            }
        </div>
    </div>
</div>
